@font-face {
    font-family: 'IRANYekan';
    src: url('../fonts/IRANYekanWeb.woff') format('woff'), url('../fonts/IRANYekanWeb.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: IRANYekan!important;
    font-size: 16px;
    margin: 0;
    padding: 0;

}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px !important;
    }
}

header {
    overflow: hidden;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none!important;
}

*:focus {
    outline: 0 !important;
}

h1 {
    font-size: 1.2rem !important;
}

h2 {
    font-size: 1.1rem !important;
}

h3 {
    font-size: 1rem !important;
}

h4 {
    font-size: 0.8rem !important;
}


/* Header */
.header-bg{
    background-color: #472155;
}
.site-header{

    height: 120px;
}
.top-nav {
   height: 50%;
}

.top-nav-logo a {
    width: 50px;
}

.top-nav-logo a img {
    width: 50px;
}
.top-nav-links{
flex-direction: column;
align-items: flex-end;
}
.top-nav-login{
    border-radius: 10px;
    width: 155px;
}
.top-nav-search-store{
    width: 160px;
}
.top-nav-login-text{
font-size: 12px;
color: #000;
}
.top-nav-login button {
    font-size: 14px!important;
    background: transparent;

}
.top-nav-login button img{
    width: 15px;
}
.search{
    border-radius: 10px;
    width: 240px;
    height: 28px;
}
.search input{
    
    display: block;
    width: 93%;
    height: calc(.5em + .5rem + 2px)!important;
    padding: 0!important;
    background-color: transparent!important;
    
}
.search input:focus{
    box-shadow: none!important;
}
.search img{
    width: 7%;
    height: 15px;
}
.top-nav-store-link{
    width: 20px;
    height: 20px;
}

.main-nav {
    height: 50%;
    
}

.main-nav-menu ul li {
    display: inline-block;
}

.main-nav-item {
    background: transparent;
}

.mob-main-nav-menu-btn {
    background: transparent;
}

#main-nav-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#main-nav-sidenav {
    font-size: 1rem;
    text-align: right;
    display: none;
    position: fixed;
    width: 80%;
    z-index: 20;
    height: 100%;
    top: 0;
    right: -8px;
    background-color: #ffffff;
    /* transform: translateX(100%); */
    transition: 2s ease;
}

#main-nav-sidenav-header {
    height: 60px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#main-nav-sidenav-header img {
    height: 40px;
}

#main-nav-sidenav-body ul {
    list-style: none !important;
    padding: 0.5rem;
}

#main-nav-sidenav-body ul li {
    list-style: none;
    display: block;
    padding-right: 0!important;
}

#main-nav-sidenav-body ul li a {
    display: inline-block;
    padding: 0.5em;
    color: #606c76!important;
}

.showSideNav {
    display: block!important;
}

/* End Header */
/* Footer */
.footer-bg{
    background-color: #472155;
}
.total-footer{
    height: 230px;
    background-image: url("../img/footer-bg2.png");
    background-size: 100% 100%;
}
.phone-img{
height: 20px;
}
.email-img{
   height: 15px;
}
.sotialmedia-img{
    height: 40px;
}
@media only screen and (max-width: 768px) {
    
}
/* Footer End */
/* Home Page  */
.mozayede-section,
.newest-products-section,
.discounts-section,
.inner-categories-section {
    background-color: #958db3;
}
.inner-mozayede-item,
.news-item,
.newest-products-item,
.inner-discounts-item,
.inner-categories-item {
    background-color: #6c6099;
}
.categories{
    background-color: #DEFFF8;
}
.category-img{
    width: 50px;
}
/* Home Page End */