@font-face {
    font-family: 'IRANYekan';
    src: url('../fonts/IRANYekanWeb.woff') format('woff'), url('../fonts/IRANYekanWeb.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: IRANYekan!important;
    font-size: 16px;
    margin: 0;
    padding: 0;

}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px !important;
    }
}

header {
    overflow: hidden;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none!important;
}

*:focus {
    outline: 0 !important;
}

h1 {
    font-size: 1.2rem !important;
}

h2 {
    font-size: 1.1rem !important;
}

h3 {
    font-size: 1rem !important;
}

h4 {
    font-size: 0.8rem !important;
}


/* Header */
.header-bg{
    background-color: #CE252C;
}
.site-header{

    height: 120px;
}
.top-nav {
   height: 50%;
}

.top-nav-logo a {
    width: 50px;
}

.top-nav-logo a img {
    width: 50px;
}
.top-nav-links{
flex-direction: column;
align-items: flex-end;
}
.top-nav-login{
    border-radius: 10px;
    width: 155px;
}
.top-nav-search-store{
    width: 160px;
}
.top-nav-login-text{
font-size: 12px;
color: #000;
}
.top-nav-login button {
    font-size: 14px!important;
    background: transparent;

}
.top-nav-login button img{
    width: 15px;
}
.search{
    border-radius: 10px;
    width: 240px;
    height: 28px;
}
.search input{
    
    display: block;
    width: 93%;
    height: calc(.5em + .5rem + 2px)!important;
    padding: 0!important;
    background-color: transparent!important;
    
}
.search input:focus{
    box-shadow: none!important;
}
.search img{
    width: 7%;
    height: 15px;
}
.top-nav-store-link{
    width: 20px;
    height: 20px;
}

.main-nav {
    height: 50%;
    
}

.main-nav-menu ul li {
    display: inline-block;
}

.main-nav-item {
    background: transparent;
}

.mob-main-nav-menu-btn {
    background: transparent;
}

#main-nav-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#main-nav-sidenav {
    font-size: 1rem;
    text-align: right;
    display: none;
    position: fixed;
    width: 80%;
    z-index: 20;
    height: 100%;
    top: 0;
    right: -8px;
    background-color: #ffffff;
    /* transform: translateX(100%); */
    transition: 2s ease;
}

#main-nav-sidenav-header {
    height: 60px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#main-nav-sidenav-header img {
    height: 40px;
}

#main-nav-sidenav-body ul {
    list-style: none !important;
    padding: 0.5rem;
}

#main-nav-sidenav-body ul li {
    list-style: none;
    display: block;
    padding-right: 0!important;
}

#main-nav-sidenav-body ul li a {
    display: inline-block;
    padding: 0.5em;
    color: #606c76!important;
}

.showSideNav {
    display: block!important;
}

/* End Header */
/* Footer */
.top-footer-bg{
background-color: #C6C4C5;
}
.top-footer-heading img{
    height: 30px;
    width: 25px;
}
.top-footer-heading span{
    color: rgb(39 38 38);
}
.to-footer-shopping-guide p{
    font-size: .8rem;
}
.bottom-footer-bg{
    background-color: #CE252C;
}
.bottom-footer{
    height: 230px;
    background-image: url("../img/footer-bg3.png");
    background-size: 100% 100%;
}
.phone-img{
height: 20px;
}
.email-img{
   height: 15px;
}
.sotialmedia-img{
    height: 40px;
}
@media only screen and (max-width: 768px) {
    
}
/* Footer End */
/* Home Page  */
.mozayede-section,
.newest-products-section,
.discounts-section,
.inner-categories-section {
    background-color: #958db3;
}
.inner-mozayede-item,
.news-item,
.newest-products-item,
.inner-discounts-item,
.inner-categories-item {
    background-color: #6c6099;
}
.categories{
    background-color: #FFBCC9;
}
.category-img{
    width: 50px;
}


/* 2222222222222222222222222222222222222222222222222222222222222222222222222222 */
.variable-width {
    background: #CE252C;
    padding: 2rem ;
    height: 300px;

  }

.slider-img{
    margin: 0 auto;
    width: 100%;
    height: 250px;
}
.slick-slide{
     width: 250px;
      height: 250px;
      text-align: center;
      border: 1px solid #fff;
      margin: 0 5px;
  }
  .slick-current{
    background-color: yellow;
    width: 500px!important;
    height: 250px;
 
}
.slick-list{
    height: 100%!important;
}
.slick-track{
    height: 100%!important;
}
  /* 
 

  .slick-current img{
      width: 50%;
  } */
  .slick-next{
      right: 100px!important;
  }
  .slick-prev {
    left: 100px!important;
    z-index: 100;
  }

  /* .active-slider {
      
    width: 700px !important;

  } */



  /* 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111 */
  .main-carousel{
    background: #FFED47;
    padding: 2rem ;
    height: 300px;
  }
  .is-selected{
    width: 50%!important;
    background:red;
     
  }
  .flickity-slider{
      left: -126px!important;
    /* transform: translateX(25%)!important; */
  }
  .carousel-cell{
      width: 24%;
      height: 250px;
      border: 1px solid #fff;
      margin-right: 10px;
      /* left: 50.91%!important; */
  }
  .carousel-cell img {
   margin: auto 0;
    max-width: 100%;
    max-height: 100%;
  }
  .flickity-page-dots{
      display: none!important;
  }
  .flickity-prev-next-button.next {
    right: -3px!important;
}
.flickity-prev-next-button.previous{
    left: -3px!important;  
}
.flickity-button {
    background: transparent!important;
    color: #fff!important;
}



.top-auction{
    background-image: url("../img/top-autcion.png");
    background-size: 100% 100%;
}
.auction-img img{
    width: 100%;
}
.main-heading img{
    width: 30px; 
}
.new-heading{
    width:40px!important; 
}
.time{
    font-size: 2rem;
}
.discounts-section{
    height: 300px;
    background: #FFED47;
}
/* Home Page End */


/* single product-page */
.attributes-list{
list-style-type: circle;
}
.product-colors span:nth-child(2) i{
color: gold;
}
.product-colors span:nth-child(3) i{
    color: gray;
    }
    .main-price span:nth-child(1){
        width: 15%;
    }


    .main-price span:nth-child(2){
        width: 80%;
background-color: #fff;
border-radius: 30px;
    }
    .product-final-price span:nth-child(1){
        width: 23%;
            }
    .final-price{
        width: 72%;
        background-color: #fff;
        border-radius: 30px;  
    }
    .single-product{
        background-color: #EFEAEA;

    }
    .product-price{
        background-color: rgba(255, 255, 255, .5);
    
    }
    .product-img-section{
        background-color: rgba(255, 255, 255, .5);
        border-radius: 30px;
    } 
    .product-rating{
        border-radius: 30px;

    }
    .product-link{
        height: 25px;
    width: 25px;
    }
    .product-link:last-child{
        width: 30px!important;
        height: 30px!important;
    }
    .product-img{
        height: 320px;
    }
    .product-options{
        background-color: rgba(255, 255, 255, .5);
    }



